<!-- 

<div class="header d-flex justify-content-between mb-11">
  <div class="d-flex align-items-center">
    <h2 class="font-l bold mr-12-5">Assignment</h2>

    <a href="#" class="d-flex">
      <p class="mr-2 bold">All Courses</p>
      <span class="material-symbols-outlined"> expand_more </span>
    </a>
  </div>
  <div class="d-flex">
    <ul class="d-flex align-items-center">
      <li class="mr-6">
        <a href="#">
          <span class="material-symbols-outlined"> search </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="material-symbols-outlined"> notifications_active </span>
        </a>
      </li>
    </ul>
  </div>
</div> -->
