<!-- sidebar -->
<div class="d-flex flex-column justify-content-between sidebar bg-gray">
  <div>
    <h1 class="p-8">
      <a href="#">
        <img src="../assets/images/logo-ANSWER.svg" alt="logo" />
      </a>
    </h1>
    <ul class="mb-40 greenHover">
      <li class="bold mb-7-5">
        <a href="#" class="d-flex">
          <span class="material-symbols-outlined mr-4 ml-8">
            insert_chart
          </span>
          <h3>Dashboard</h3>
        </a>
      </li>

      <li class="bold mb-7-5">
        <a href="#" class="d-flex">
          <span class="material-symbols-outlined mr-4 ml-8"> forum </span>
          <h3>Question</h3>
        </a>
      </li>

      <li class="bold mb-7-5">
        <a href="assignment.html" class="d-flex">
          <span class="material-symbols-outlined mr-4 ml-8"> assignment </span>
          <h3>Assignment</h3>
        </a>
      </li>

      <li class="bold mb-7-5">
        <a href="#" class="d-flex">
          <span class="material-symbols-outlined mr-4 ml-8">
            video_library
          </span>
          <h3>Course</h3>
        </a>
      </li>

      <li class="bold mb-7-5">
        <a href="admin.html" class="d-flex">
          <span class="material-symbols-outlined mr-4 ml-8"> group </span>
          <h3>Admin</h3>
        </a>
      </li>

      <li class="bold">
        <a href="#" class="d-flex">
          <span class="material-symbols-outlined mr-4 ml-8"> Settings </span>
          <h3>Settings</h3>
        </a>
      </li>
    </ul>
  </div>

  <div class="d-flex align-items-center">
    <div class="landscape mr-4">
      <img src="../assets/images/andychen.jpeg" alt="andy" />
    </div>
    <div class="name">
      <p class="bold mb-1">Andy Chen</p>
      <p class="t-gray font-m">andy0401@mail.com</p>
    </div>
  </div>
</div>
