// font-weight
.bold {
  font-weight: 700;
}

// margin
.mb-1 {
  margin-bottom: 4px;
}

.mb-1-5 {
  margin-bottom: 6px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5-5 {
  margin-bottom: 22px;
}
.mb-7-5 {
  margin-bottom: 30px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-11 {
  margin-bottom: 44px;
}

.mb-40 {
  margin-bottom: 160px;
}

.mb-90 {
  margin-bottom: 360px;
}

.mr-2 {
  margin-right: 8px;
}
.mr-4 {
  margin-right: 16px;
}

.mr-6 {
  margin-right: 24px;
}

.mr-12-5 {
  margin-right: 50px;
}

// padding
.p-3 {
  padding: 12px;
}
.p-4 {
  padding: 16px !important;
}
.p-8 {
  padding: 32px;
}

// font-size
.font-s {
  font-size: 12px;
}
.font-m {
  font-size: 14px;
}
.font-l {
  font-size: 24px;
}

// text color
.t-gray {
  color: #6c757d;
}

// bg color
.bg-gray {
  background: #f8f9fa;
}

// border
.border-bottom {
  border-bottom: 1px solid #ced4da;
}

//
.full-width {
  width: 100%;
}

// icon
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 40;
  vertical-align: middle;
}
