// font-weight
.bold {
  font-weight: 700;
}

// margin
.mb-1 {
  margin-bottom: 4px;
}

.mb-1-5 {
  margin-bottom: 6px;
}

.mb-7-5 {
  margin-bottom: 30px;
}
.mb-8 {
  margin-bottom: 32px;
}

.mb-90 {
  margin-bottom: 360px;
}

.mr-2 {
  margin-right: 8px;
}
.mr-4 {
  margin-right: 16px;
}

// padding
.p-3 {
  padding: 12px;
}
.p-8 {
  padding: 32px;
}

// font-size
.font-s {
  font-size: 12px;
}
.font-m {
  font-size: 14px;
}
.font-l {
  font-size: 24px;
}

// text color
.t-gray {
  color: #6c757d;
}

// bg color
.bg-gray {
  background: #f8f9fa;
}
