<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- sidebar -->
    <%- include('./layout/sidebar'); -%>

    <!-- header 要包在content -->
    <%- include('./layout/header'); -%>

    <a href="admin.html">admin</a>
    <a href="assignment.html">admin</a>

    <script type="module" src="../main.js"></script>
  </body>
</html>
